*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
}

.logo-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.header-headline {
  font-weight: 700;
  color: #116149;
}

.header__line {
  font-size: calc(18px + (22 - 18) * ((100vw - 540px) / (1140 - 540)));
}

.text-muted, .text-mid-dark {
  font-weight: 600 !important;
  font-size: 1.001rem !important;
  margin-top: 2rem;

}


@media (max-width: 600px) {
  .btn {
    width: 90%;
  }
}

@media (min-width: 990px) {
  .card-box-1 > ul {
    margin-left: -2rem;
    /* border: 2px solid red; */
  }
}

.box-3-title {
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-width: 850px;
  color: #116149;
}

.box-4-title {
  font-weight: 600;
  font-size: 2rem;
  color: #116149;
}

.box-4-sub {
  font-size: calc(16px + (18 - 16) * ((100vw - 540px) / (1140 - 540)));
}
.container-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}
.image-box-2 {
}
.card-box-1{
    max-width: 500px;
}
.card-box-1 > img{
    max-width: 50%;
}

